$hidden: hidden;
$fontColor: #EEFFDB;
$backgroundColor: #696773;
$selectedColor: #FF8C61;
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.player {
    width: 380px;
    height: auto;
    background: $backgroundColor;
    &-pochette {
        width: 80%;
        height: 300px;
        margin: 3% auto 0 auto;
        background: #000;
        overflow: $hidden;
        border-radius: 7%;
    }
    &-pochetteImg {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &-buttonContainer {
        width: 60%;
        margin: 5% auto 0 auto;
        display: flex;
        align-content: center;
        align-content: center;
        justify-content: space-between;
    }
    &-button {
        width: 30px;
        height: 30px;
    }
    &-playPause {
        width: 35px;
        height: 35px;
    }
    &-titleContainer {
        display: flex;
        height: auto;
        align-content: center;
        align-items: center;
        margin: 3%;
        overflow: $hidden;
    }
    &-miniatureContainer {
        height: 50px;
        width: 50px;
        margin-right: 3%;
        border-radius: 15%;
    }
    &-miniature {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &-audioContainer {
        width: 80%;
        margin: 0 auto;
    }
    &-title {
        margin: 3% auto 0 auto;
    }
    &-titlePlaylist {
        font: {
            family: sans-serif;
            size: 18px;
            weight: 600;
        }
        color: $fontColor;
        padding: 5%;
        text-align: center;
    }
    &-titleArtist {
        font-family: sans-serif;
        color: $fontColor;
    }
    &-titleTitle {
        font-style: italic;
        font-weight: 200;
    }
}

.selected {
    color: $selectedColor;
}