* {
    box-sizing: border-box;
    overflow-x: hidden;
}

.player {
    width: 100vw;
    height: 100vh;
    background: #Efefef;
    &-pochette {
        width: 80%;
        height: 40vh;
        margin: 0 auto;
        background: #000;
    }
    &-pochetteImg {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &-playPause {
        width: 30px;
        height: 30px;
        transition: 0.5s;
    }
    &-titleContainer {
        display: flex;
        align-content: center;
        align-items: center;
    }
    &-miniature {
        height: 50px;
        width: 50px;
    }
    &-audioContainer {
        width: 80%;
        margin: 0 auto;
    }
    &-title {
        margin: 3% auto 0 auto;
        background: blue;
    }
    &-titleArtist {
        font-family: sans-serif;
        color: #757780;
    }
    &-titleTitle {
        font-style: italic;
        font-weight: 200;
    }
}